[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
meme-picker = {editable = true, file = "file:///home/asadana/store/workspace/meme-picker"}
"aws-cdk.core" = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-events" = "*"
"aws-cdk.aws-events-targets" = "*"
"aws-cdk.aws-s3" = "*"
"aws-cdk.aws-lambda-python" = "*"

[dev-packages]
